body {
font-size: 100%;
color:#333333;
background-color:#FFFFFF;
font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
#skip-to-nav, #page {
font-size:0.75em;
line-height:1.333em;
}
#drupal_header {
font-size:.9em;
line-height:1.333em;
}
#vbblock {
font-size:10pt;
}
.drupal_separator {
padding:0 6px;
}
.block ul, .item-list ul {
margin:0;
padding:0;
}
.item-list ul li {
padding:0;
list-style:inherit;
}
ul.drupal_menu {
list-style:none;
border:none;
text-align:left;
}
ul.drupal_menu li {
margin:0 0 0.2em 0;
padding:0;
list-style-image:none;
list-style-type:none;
list-style:none;
}
a:link {
border-bottom:1px dotted #333333;
color:#333333;
text-decoration:none;
}
a:visited {
border-bottom:1px dotted #333333;
color:#333333;
text-decoration:none;
}
a:hover, a:focus, a:active {
border-bottom:1px dotted #E3038D;
color:#E3038D;
text-decoration:none;
}
#page-wrapper, .region-page-closure {
margin-left:auto;
margin-right:auto;
width:760px;
}
#drupal_header .section {
position:relative;
margin-top:19px;
}
#search-box {
position:absolute;
padding:0;
top:0;
right:0;
width:600px;
text-align:right;
font-size:1em;
}
#account-menu {
float:right;
}
#drupal_content, .no-sidebars #drupal_content {
float:left;
width:560px;
margin-left:0;
margin-right:-960px;
padding:0;
}
#drupal_nav {
float:left;
width:100%;
margin-left:0;
margin-right:-100%;
padding:0;
height:86px;
}
.with-navigation #drupal_content, .with-navigation .region-sidebar-first, .with-navigation .region-sidebar-second {
margin-top:73px;
}
.front .with-navigation #drupal_content, .front .with-navigation .region-sidebar-first, .front .with-navigation .region-sidebar-second {
margin-top:73px;
}
#drupal_nav ul {
margin:0;
padding:0;
text-align:left;
}
#drupal_nav li, #drupal_nav li a {
float:left;
}
#drupal_header, #drupal_content, #drupal_nav, .region-sidebar-first, .region-sidebar-second, #drupal_footer, .region-page-closure {
overflow:visible;
word-wrap:break-word;
}
#drupal_nav {
overflow:hidden;
}
div#site-name {
background:transparent url(http://meego.com/sites/all/themes/meego/images/site_name.png) no-repeat scroll top left;
display:block;
height:62px;
width:205px;
margin:0;
}
#site-name a:link, #site-name a:visited {
display:block;
height:62px;
overflow:hidden;
text-indent:-999px;
width:205px;
border:none;
}
.vbcontrols a:link, .vbcontrols a:visited {
border:none;
}
ul.links {
margin:1em 0;
padding:0;
}
ul.links.inline {
margin:0;
display:inline;
}
ul.links li {
display:inline;
list-style-type:none;
padding:0 0.7em 0 .5em;
margin:0;
}
.drupal_sponsor {
float:left;
text-align:right;
}
.drupal_sponsor a:link, .drupal_sponsor a:visited, .drupal_sponsor a:hover, .drupal_sponsor a:focus, .drupal_sponsor a:active {
border:0;
}
img {
border-style:none;
}
#drupal_footer {
background-color:#DDDDDD;
margin-top:20px;
font-size:0.8em;
}
#drupal_footer .section {
padding-top:10px;
-moz-box-shadow:inset 0 1px 1px 0 gray;
-webkit-box-shadow:inset 0 1px 1px 0 gray;
}
#drupal_footer-message {
color:#666;
padding:0 0 10px 10px;
margin-top:20px;
line-height:1.5em;
}
#drupal_footer .block {
float:left;
width:186px;
margin-right:5px;
}
#drupal_footer .block ul.drupal_menu {
margin:0;
padding:0 0 0 10px;
}
#drupal_footer .block ul.drupal_menu li {
border-bottom:none;
padding:.1em 0;
}
.clearfix {
zoom: 1;
}
.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
li a.active, li a.active-trail {
color:#333333;
font-weight:bold;
}
#drupal_nav {
border-top:4px solid #333333;
border-bottom:4px solid #EAEAEA;
}
.front #drupal_nav {
border-top:4px solid #333333;
border-bottom:none;
}
.region-navigation {
}
.drupal_breadcrumb {
padding-bottom:0;
padding-top:15px;
}
.drupal_breadcrumb .drupal_separator {
padding:0 6px;
}
.drupal_breadcrumb .drupal_separator img {
padding:0 0 2px 0;
}
#drupal_nav .section {
border-bottom:1px solid #333333;
height:42px;
}
#main-menu {
background-color:#EAEAEA;
height:41px;
line-height:40px;
white-space:nowrap;
}
#main-menu li {
padding:0;
font-size:1.1em;
}
#main-menu a {
color:#333333;
padding:0 10px;
text-decoration:none;
border:none;
height:41px;
}
#main-menu a:hover, #main-menu li.active-trail a {
color:#fff;
background:#333333 none repeat scroll 0 0;
border:none;
font-weight:normal;
}
#account-menu .block {
margin:0 0 2px 0;
font-size:.9em;
}
#account-menu .drupal_menu li {
display:inline;
font-weight:bold;
}
#account-menu .drupal_menu li, .node-links .links li {
border-right:1px solid #333333;
}
#account-menu .drupal_menu li a {
padding:0 8px 0 4px;
border-bottom:none;
}
#account-menu .drupal_menu li.last, #account-menu .drupal_menu li.last a, .node-links .links li.last, .node-links .links li.last a {
padding-right:0;
border-right:none;
}
.container-inline div, .container-inline label {
display:inline;
}
#search label {
font-size:.9em;
}
input.form-submit {
cursor:pointer;
background-color:#E3038D;
border:2px solid #E3038D;
padding:2px 10px;
color:#fff;
text-align:center;
font-weight:bold;
font-size:0.9em;
font-family:Verdana, Tahoma, "DejaVu Sans", sans-serif;
}
input.form-submit:hover, input.teaser-button:hover {
background-color:#5DBA7C;
border:2px solid #5DBA7C;
color:#fff;
}
input.form-submit:active {
background:#666;
color:#fff;
}
div.teaser-button-wrapper {
position:relative;
z-index:1;
padding:5px 5px 0px;
}
form input#edit-delete {
background-color:#FFF;
border:none;
color:#666;
}
form input#edit-delete:hover {
color:#5DBA7C;
}
input.form-autocomplete, input.form-text, textarea.form-textarea, select.form-select {
padding:4px;
border-width:2px;
border-style:solid;
border-color:#999 #ccc #D7D7D7;
background:#eee;
color:#666;
font-size:.9em;
}
.form-item {
margin:1em 0;
font-size:1em;
}
input.form-autocomplete:hover, input.form-text:hover, textarea.form-textarea:hover, select.form-select:hover, div.form-item:hover input.form-autocomplete, div.form-item:hover input.form-text, div.form-item:hover textarea.form-textarea, div.form-item:hover select.form-select, input.form-autocomplete:focus, input.form-text:focus, textarea.form-textarea:focus, select.form-select:focus {
color:#333;
border-color:#E3038D;
}
div.thanks_postbit {
font-size:8pt;
}

/* added for Midgard */
.breadcrumb {
padding:15px 0 0 0;
}

.breadcrumb_separator {
background-image:url('http://meego.com/sites/all/themes/meego/icons/bullet_pink.png');
background-position:0.5em 0.8em;
background-repeat:no-repeat;
margin:0;
padding:0.2em 0.2em 0.2em 1.2em;
}

div.navi_sub {
float: left;
margin: 100px 20px 0 0;
width: 180px;
}

div.navi_sub div.separator {
background-color: #EAEAEA;
height: 2px;
margin: 4px 0 0 0;
}

h2.title{
background-color:#929294;
color:#FFFFFF;
font-size:1em;
margin:0;
padding:4px 8px;
}

/* 1st level sub navi */
ul.fi_protie_navigation {
/*border-top: 2px solid #EAEAEA;*/
padding:4px 0 1px 0;
margin: 4px 0 0 0;
background-color: #EAEAEA;
}

ul.fi_protie_navigation li {
list-style-type: none;
padding: 0 0 0 14px;
margin: 0 0 10px 0;
background-image: url('http://meego.com/sites/all/themes/meego/icons/bullet_arrow_right.png');
background-repeat: no-repeat;
font-weight: normal;
}

ul.fi_protie_navigation li.selected {
background-image: url('http://meego.com/sites/all/themes/meego/icons/bullet_arrow_down.png');
}

ul.fi_protie_navigation li.active {
color: #333333;
font-weight: bold;
}

/* 2nd level sub navi */
ul.fi_protie_navigation ul.fi_protie_navigation {
border: none;
padding: 4px 0 0 0;
}

ul.fi_protie_navigation ul.fi_protie_navigation li {
list-style-type: none;
padding: 0 0 0 10px;
margin: 0 0 6px 0;
background-image: url('http://meego.com/sites/all/themes/meego/icons/bullet_pink.png');
background-repeat: no-repeat;
background-position: left 7px;
}

div.error {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
padding:2px;
}

div.messages, div.status, div.warning, div.unpublished, div.error {
background-color:#EAEAEA;
background-image:url(http://meego.com/sites/all/themes/meego/images/messages-status.png);
background-position:5px 5px;
background-repeat:no-repeat;
border:2px solid #E3038D;
color:#333333;
margin:1em;
min-height:21px;
padding:  5px 5px 5px 35px;
}


div.error {
background-color:#FFEEEE;
color:#990000;
}

div.error {
background-image:url(http://meego.com/sites/all/themes/meego/images/messages-error.png);
border:1px solid #DD7777;
}

span.mailto {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(http://meego.com/sites/all/modules/contrib/extlink/mailto.png) no-repeat scroll right center;
padding-right:12px;
}

div#drupal_content.full {
margin-top: 100px;
width: 760px;
}

div.form-item {
position: relative;
}

div.form-item label {
color: #666666;
}

label.compact-form-label {
position: absolute;
left: 5px;
top: 3px;
z-index: 1;
display: inline;
cursor: default;
}

dt {
font-weight: bold;
}

dd {
margin:0 0 2em;
padding:0;
}

form#midcom_services_auth_frontend_form,
div#open_id_form {
float: left;
}

form#midcom_services_auth_frontend_form {
margin: 0 5em 0 0;
}

input#openid_submit {
display: block;
margin: 1.3em 0 0 0;
}

