.splash {
background:url("http://meego.com/sites/all/themes/meego/images/splash-garage.png") no-repeat scroll right bottom transparent;
height: 140px;
}

#drupal_content .section{
/*margin-left:200px;*/
margin-right:10px;
width:560px;
float: left;
}

#drupal_content .region .section {
border:1px solid #CCCCCC;
margin:1px;
padding:2px;
width:180px;
display: block;
clear: both;
margin-bottom: 10px;
}

.region .section li {
list-style:none;
padding-left:5px;
}

.package_instance, div.packages .package {
width:560px;
border-bottom: 1px dashed lightgrey;
margin: 0 0 2em;
padding: 0 0 2em;
}

.package_instance .summary, .package .summary {
font-style: italic;
}

.package_instance div {
margin-bottom: 10px;
}

.package_instance .screenshot {
border:2px solid #CCCCCC;
width:250px;
height:250px;
float:right;
margin-left: 10px;
margin-bottom: 10px;
}

div.section div.package {
margin: 2em 0 1em 0;
}

.package div.screenshot,
.package div.details {
display: inline-block;
}

.package div.screenshot {
float: left;
margin: 0 1em 0 0;
}

.package div.screenshot img {
width: 85px;
}

.package div.details {
width: 460px;
}

.package div.screenshot.missing {
background-image: url(/midgardmvc-static/com_meego_packages/images/placeholder_85x60.png);
width: 85px;
height: 60px;
}

.package div.details h3 {
margin: 0;
padding: 0;
}

.package div.details h3.name span,
.package div.details h3.name a {
color: #0098f8;
text-decoration: none;
font-size: 2em;
font-weight: bold;
}

.package div.details div.maintainer,
.package div.details div.ratcomm {
color: #938c93;
}

.package div.details div.ratcomm div.rating,
.package div.details div.ratcomm div.comments {
display: inline-block;
}

.package div.details div.ratcomm div.rating {
margin: 0 2em 0 0;
}

/* the span of the stars */
.package div.details div.ratcomm div.rating span {
position: relative;
top: 3px;
}

.package div.details div.description {
margin: 1em 0 1em 0;
}

.package div.details div.providers h4 {
padding: 0;
margin: 1em 0 0 0;
}

.package div.details div.providers ul {
margin: 0.5em 0 0 0;
padding: 0;
list-style: none;
}

.package div.details div.providers ul li {
margin: 0 0 0.5em 0;
}

ul.uxes {
list-style: none;
}

ul.uxes li {
display: inline-block;
margin: 10px;
}

li.ux a div {
width: 60px;
height: 60px;
background-repeat: no-repeat;
}

li.ux a div.core {
background-image: url(/midgardmvc-static/com_meego_packages/images/osgroup-core.png);
}

li.ux a div.extras {
background-image: url(/midgardmvc-static/com_meego_packages/images/osgroup-extras.png);
}

li.ux a div.surrounds {
background-image: url(/midgardmvc-static/com_meego_packages/images/osgroup-surrounds.png);
}

li.ux a div.core.handset,
li.ux a div.handset {
background-image: url(/midgardmvc-static/com_meego_packages/images/device-handsets.png);
}

li.ux a div.core.netbook,
li.ux a div.netbook {
background-image: url(/midgardmvc-static/com_meego_packages/images/device-netbooks.png);
}

li.ux a div.core.tv,
li.ux a div.tv {
background-image: url(/midgardmvc-static/com_meego_packages/images/device-tv.png);
}

li.ux a div.core.ivi,
li.ux a div.ivi {
background-image: url(/midgardmvc-static/com_meego_packages/images/device-automotive.png);
}

div.list div.header {
line-height: 2em;
background: lightgrey;
border-bottom: 1px solid grey;
font-weight: bold;
}

div.element {
line-height: 1.5em;
}

div.element.odd {
background-color: white;
}

div.element.even {
background-color: lightgrey;
}

div.list div.header div,
div.list div.element div {
display: inline-block;
margin: 0 0 0.1em 0;
}

div.list div.header .title,
div.list div.element .title {
width: 25em;
}

div.list div.header .projectname,
div.list div.element .projectname {
width: 20em;
}

div.warning,
div.error,
div.status {
background-image: url(/midgardmvc-static/com_meego_packages/images/messages-status.png);
background-color: #EAEAEA;
background-position: 5px 5px;
background-repeat: no-repeat;
border: 2px solid #E3038D;
color: #333333;
margin: 1em 1em 1em 0;
min-height: 21px;
padding: 5px 5px 5px 35px;
}

div.status {
border-color: #5dba7c;
}

div.warning {
background-image: url(/midgardmvc-static/com_meego_packages/images/messages-error.png);
border-color: #ff6d34;
}

div.error {
background-image: url(/midgardmvc-static/com_meego_packages/images/messages-error.png);
border-color: #CC0000;
}

ul.defaults {
list-style: none;
padding: 0;
}

ul.defaults li.basecategory {
border-bottom: 1px dashed lightgrey;
margin: 0 0 1em;
padding: 0 0 1em;
}

ul.defaults li.basecategory .name,
div.basecategory .name {
font-weight: bold;
}

ul.defaults li.basecategory .description,
div.basecategory .description {
font-style: italic;
width: 28em;
}

div.instruction,
div.basecategory {
margin: 0 0 1em 0;
}

a.back {
padding: 3px 10px;
}

form.admin {
display: inline-block;
}

input.form-submit {
padding: 2px 10px;
}

a.back,
input.form-submit {
background-color: #E3038D;
border: 2px solid #E3038D;
color: #FFFFFF;
cursor: pointer;
font-weight: bold;
text-align: center;
}

a.back:hover,
input.form-submit:hover {
background-color: #5DBA7C;
border: 2px solid #5DBA7C;
color: #FFFFFF;
}

form.admin div.map {
margin: 1em 0 1em 0;
}

form.admin.map {
margin: 2em 0 0 0;
border-top: 1px dashed lightgrey;
}

form.admin div.map select {
height: 20em;
width: 23em;
}

form.admin div.map div.instruction {
margin: 1em;
}
